<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        {% product in products %}
            <a> href="{% url 'update_product' product.id %}">
                <li> {{product_description}}</li>
            </a>
        {% endflor %}
    </ul>

</body>
</html>